# macOS
.DS_Store

# Env
.env
*.env

# Node
node_modules/

# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/

# IDE
.idea/
.vscode/

# Private SQL docs
docs/supabase/

# Private SQL docs
docs/supabase/
